:root {
  --primary-color: rgb(216, 99, 255);
  --dark-gray: rgb(132, 170, 206);
}

.list-non-bullet {
  list-style: none;
}

.list-item-inline {
  display: inline;
  padding: 0rem 0.5rem;
}

.navigation {
  background-color: var(--primary-color);
  color: black;
  padding: 1rem;
  border-top-left-radius: 1rem;
}

.navigation .nav-brand {
  font-weight: bolder;
  font-size: 1.1rem;
}

.nav-pills {
  text-align: right;
}

.navigation .link {
  color: white;
}

.navigation .link-active {
  font-weight: bolder;
}

footer {
  margin-top: 1rem;
  background-color: var(--primary-color);
  padding: 2rem 1rem;
  text-align: center;
  color: white;
  border-bottom-right-radius: 1rem;
}

.footer .footer-header {
  font-weight: bold;
  font-size: larger;
}

.footer .link {
  color: white;
}

.footer ul {
  paddi
}